body.country-ad #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ad.png); }
body.country-ae #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ae.png); }
body.country-af #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/af.png); }
body.country-ag #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ag.png); }
body.country-ai #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ai.png); }
body.country-al #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/al.png); }
body.country-am #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/am.png); }
body.country-an #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/an.png); }
body.country-ao #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ao.png); }
body.country-aq #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/aq.png); }
body.country-ar #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ar.png); }
body.country-as #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/as.png); }
body.country-at #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/at.png); }
body.country-au #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/au.png); }
body.country-aw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/aw.png); }
body.country-az #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/az.png); }
body.country-ba #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ba.png); }
body.country-bb #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bb.png); }
body.country-bd #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bd.png); }
body.country-be #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/be.png); }
body.country-bf #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bf.png); }
body.country-bg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bg.png); }
body.country-bh #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bh.png); }
body.country-bi #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bi.png); }
body.country-bj #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bj.png); }
body.country-bm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bm.png); }
body.country-bn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bn.png); }
body.country-bo #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bo.png); }
body.country-br #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/br.png); }
body.country-bs #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bs.png); }
body.country-bt #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bt.png); }
body.country-bv #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bv.png); }
body.country-bw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bw.png); }
body.country-by #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/by.png); }
body.country-bz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/bz.png); }
body.country-ca #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ca.png); }
body.country-cc #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cc.png); }
body.country-cd #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cd.png); }
body.country-cf #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cf.png); }
body.country-cg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cg.png); }
body.country-ch #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ch.png); }
body.country-ci #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ci.png); }
body.country-ck #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ck.png); }
body.country-cl #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cl.png); }
body.country-cm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cm.png); }
body.country-cn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cn.png); }
body.country-co #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/co.png); }
body.country-cr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cr.png); }
body.country-cs #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cs.png); }
body.country-cv #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cv.png); }
body.country-cx #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cx.png); }
body.country-cy #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cy.png); }
body.country-cz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/cz.png); }
body.country-de #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/de.png); }
body.country-dj #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/dj.png); }
body.country-dk #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/dk.png); }
body.country-dm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/dm.png); }
body.country-do #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/do.png); }
body.country-dz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/dz.png); }
body.country-ec #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ec.png); }
body.country-ee #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ee.png); }
body.country-eg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/eg.png); }
body.country-eh #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/eh.png); }
body.country-er #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/er.png); }
body.country-es #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/es.png); }
body.country-et #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/et.png); }
body.country-fi #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/fi.png); }
body.country-fj #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/fj.png); }
body.country-fk #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/fk.png); }
body.country-fm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/fm.png); }
body.country-fo #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/fo.png); }
body.country-fr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/fr.png); }
body.country-ga #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ga.png); }
body.country-gb #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gb.png); }
body.country-gd #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gd.png); }
body.country-ge #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ge.png); }
body.country-gf #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gf.png); }
body.country-gh #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gh.png); }
body.country-gi #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gi.png); }
body.country-gl #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gl.png); }
body.country-gm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gm.png); }
body.country-gn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gn.png); }
body.country-gp #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gp.png); }
body.country-gq #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gq.png); }
body.country-gr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gr.png); }
body.country-gs #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gs.png); }
body.country-gt #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gt.png); }
body.country-gu #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gu.png); }
body.country-gw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gw.png); }
body.country-gy #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/gy.png); }
body.country-hk #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/hk.png); }
body.country-hm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/hm.png); }
body.country-hn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/hn.png); }
body.country-hr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/hr.png); }
body.country-ht #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ht.png); }
body.country-hu #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/hu.png); }
body.country-id #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/id.png); }
body.country-ie #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ie.png); }
body.country-il #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/il.png); }
body.country-in #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/in.png); }
body.country-io #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/io.png); }
body.country-iq #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/iq.png); }
body.country-is #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/is.png); }
body.country-it #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/it.png); }
body.country-jm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/jm.png); }
body.country-jo #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/jo.png); }
body.country-jp #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/jp.png); }
body.country-ke #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ke.png); }
body.country-kg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/kg.png); }
body.country-kh #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/kh.png); }
body.country-ki #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ki.png); }
body.country-km #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/km.png); }
body.country-kn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/kn.png); }
body.country-kr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/kr.png); }
body.country-kw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/kw.png); }
body.country-ky #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ky.png); }
body.country-kz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/kz.png); }
body.country-la #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/la.png); }
body.country-lb #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/lb.png); }
body.country-lc #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/lc.png); }
body.country-li #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/li.png); }
body.country-lk #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/lk.png); }
body.country-lr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/lr.png); }
body.country-ls #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ls.png); }
body.country-lt #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/lt.png); }
body.country-lu #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/lu.png); }
body.country-lv #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/lv.png); }
body.country-ly #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ly.png); }
body.country-ma #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ma.png); }
body.country-mc #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mc.png); }
body.country-md #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/md.png); }
body.country-me #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/me.png); }
body.country-mg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mg.png); }
body.country-mh #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mh.png); }
body.country-mk #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mk.png); }
body.country-ml #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ml.png); }
body.country-mn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mn.png); }
body.country-mo #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mo.png); }
body.country-mp #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mp.png); }
body.country-mq #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mq.png); }
body.country-mr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mr.png); }
body.country-ms #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ms.png); }
body.country-mt #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mt.png); }
body.country-mu #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mu.png); }
body.country-mv #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mv.png); }
body.country-mw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mw.png); }
body.country-mx #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mx.png); }
body.country-my #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/my.png); }
body.country-mz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/mz.png); }
body.country-na #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/na.png); }
body.country-nc #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/nc.png); }
body.country-ne #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ne.png); }
body.country-nf #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/nf.png); }
body.country-ng #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ng.png); }
body.country-ni #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ni.png); }
body.country-nl #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/nl.png); }
body.country-no #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/no.png); }
body.country-np #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/np.png); }
body.country-nr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/nr.png); }
body.country-nu #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/nu.png); }
body.country-nz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/nz.png); }
body.country-om #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/om.png); }
body.country-pa #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pa.png); }
body.country-pe #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pe.png); }
body.country-pf #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pf.png); }
body.country-pg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pg.png); }
body.country-ph #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ph.png); }
body.country-pk #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pk.png); }
body.country-pl #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pl.png); }
body.country-pm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pm.png); }
body.country-pn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pn.png); }
body.country-pr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pr.png); }
body.country-ps #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ps.png); }
body.country-pt #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pt.png); }
body.country-pw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/pw.png); }
body.country-py #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/py.png); }
body.country-qa #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/qa.png); }
body.country-re #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/re.png); }
body.country-ro #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ro.png); }
body.country-ru #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ru.png); }
body.country-rw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/rw.png); }
body.country-sa #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sa.png); }
body.country-sb #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sb.png); }
body.country-sc #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sc.png); }
body.country-se #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/se.png); }
body.country-sg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sg.png); }
body.country-sh #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sh.png); }
body.country-si #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/si.png); }
body.country-sj #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sj.png); }
body.country-sk #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sk.png); }
body.country-sl #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sl.png); }
body.country-sm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sm.png); }
body.country-sn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sn.png); }
body.country-so #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/so.png); }
body.country-sr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sr.png); }
body.country-st #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/st.png); }
body.country-sv #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sv.png); }
body.country-sz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/sz.png); }
body.country-tc #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tc.png); }
body.country-td #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/td.png); }
body.country-tf #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tf.png); }
body.country-tg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tg.png); }
body.country-th #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/th.png); }
body.country-tj #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tj.png); }
body.country-tk #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tk.png); }
body.country-tl #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tl.png); }
body.country-tm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tm.png); }
body.country-tn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tn.png); }
body.country-to #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/to.png); }
body.country-tr #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tr.png); }
body.country-tt #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tt.png); }
body.country-tv #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tv.png); }
body.country-tw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tw.png); }
body.country-tz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/tz.png); }
body.country-ua #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ua.png); }
body.country-ug #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ug.png); }
body.country-um #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/um.png); }
body.country-us #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/us.png); }
body.country-uy #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/uy.png); }
body.country-uz #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/uz.png); }
body.country-va #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/va.png); }
body.country-vc #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/vc.png); }
body.country-ve #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ve.png); }
body.country-vg #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/vg.png); }
body.country-vi #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/vi.png); }
body.country-vn #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/vn.png); }
body.country-vu #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/vu.png); }
body.country-wf #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/wf.png); }
body.country-ws #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ws.png); }
body.country-ye #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/ye.png); }
body.country-yt #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/yt.png); }
body.country-za #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/za.png); }
body.country-zm #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/zm.png); }
body.country-zw #menublock button.project span.icon { background-image: url(app:/core/img/icon/32/flags/zw.png); }
